@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Frank Ruhl Libre, sand-serif;
    font-weight: 400;
    color: #1D142A;
}

/* heading and logo */

h1, h2 {
    font-family: Great Vibes, sand-serif;
    letter-spacing: 3px;
    color: #D29D3F;
}

#logo{
    float: right;
    font-size:500%;
}

#menu{
    font-size: 150%;
    letter-spacing: 3px;
}

#menu, #logi{
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px ;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 2px solid #1D142A  ;
}

.active {
    border-bottom: 2px solid #1D142A  ;
}