@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Frank Ruhl Libre, sand-serif;
    font-weight: 400;
    color: #1D142A;
}

/* heading and logo */

h1,
h2 {
    font-family: Great Vibes, sand-serif;
    letter-spacing: 3px;
    color: #D29D3F;
    padding-bottom: 2px;
    padding-top: 10px;
}

#logo {
    float: right;
    font-size: 500%;
    margin-right: 40px;
}

#menu {
    font-size: 150%;
    letter-spacing: 3px;
}

#menu,
#logi {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #1D142A;
}

.active {
    border-bottom: 2px solid #1D142A;
}

/* hero-image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/jonesy_main.jpg') no-repeat center center;

    /* animatites zoom effect on landing page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Frank Ruhl Libre, sand-serif;
    letter-spacing: 3px;
    width: 400px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(77, 196, 113, 0.7);
    bottom: 30px;
    left: 150px;
    position: absolute;
}

/* motivation quotes */

#motivation {
    height: 600px;
}

#left-motivation {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#center-motivation {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

#right-motivation {
    padding-top: 30px;
    width: 33%;
    float: right;
}

hr {
    border-top: 1px solid #D29D3F;
    width: 100%;
    margin: 5px;
}

.center-motivation-context {
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
    margin-bottom: 50px;
}

#motiv-head {
    text-align: center;
    margin: 15px 0;
    font-size: 250%;
}

#circle-container-left {
    width: 300px;
    height: 300px;
    padding: 25px;
    border-style: solid;
    border-color: #DB9050;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-container-right {
    width: 300px;
    height: 300px;
    padding: 25px;
    border-style: solid;
    border-color: #DB9050;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg-left {
    background: url('../images/motiv-left.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-cover-bg-right {
    background: url('../images/motiv-right.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #1D142A;
}